.eleven img{
width: 100%;}

.eleven{
    padding: 60px 0px;
}
.tweleve{
    padding: 150px 0px;
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 20px;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #383838;
}

.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #7E848C;
}